{% extends 'portfolio/base.html' %}

{% block content %}
<section id="about-me" class="about-banner">
    <div class="about-content">
    <div class="about-image">
        <img src="{% static 'portfolio/images/al&lou.png' %}" alt="Lucas and wife, Alycia">
    </div>
    <div class="about-text">
        <h2>About Me</h2>
        <p>Hey everyone! I'm Lucas, and I'm passionate about building things – whether it's a strong client relationship, a successful business venture, or a clean, functional line of code.  I've spent the last 7+ years honing my skills in B2B sales, learning the art of understanding client needs and delivering solutions that drive real results.  I thrive on the challenge of exceeding expectations and building partnerships that last.</p>

        <p>One of the things I appreciate most about programming is the constant learning and evolution.  It mirrors the dynamic nature of the business world, where adaptability and continuous improvement are key. I'm currently working through online courses and tutorials to deepen my programing knowledge and explore frameworks like Django and React. Recently completed two MOOCs from the University of Helsinki on Python, Django 4 Everybody by Dr. Charles Severance, and I'm currently working my way through The Odin Project.</p>

        <p>My background is a blend of business and hands-on experience.  Beyond my sales roles at companies like Aerotek, I've also embraced the entrepreneurial spirit, founding and running businesses like Force Pro Fitness, Mealworkx, and the RSCUED, a purpose-driven apparel brand focused on animal adoption awareness.  These ventures have given me invaluable experience in all aspects of business operations, from marketing and website development to managing suppliers and fulfillment.</p>

        <p>I believe that the combination of my business acumen and my growing technical skills provides a unique perspective. I'm eager to connect with other developers and professionals who share my passion for innovation and building things that matter.  Feel free to reach out – let's connect!</p>
        </p>
    </div>
    </div>
</section>
{% endblock%}