{% extends 'portfolio/base.html' %} {% load static %} {% block title %}Home - My
Portfolio{% endblock %} {% block content %}
<header id="home" class="hero-banner">
  <div class="hb-left">
    <div class="website-title">Welcome to LP's Digital Playground</div>
    <div class="title-subtext">
      This is my first Django designed website, Enjoy!
      <button type="button" class="btn btn-primary mt-2">My Resume</button>
    </div>
  </div>
  <div class="hb-right">
    <img
      src="{% static 'portfolio/images/lucas_portrait.png' %}"
      alt="Lucas Patriquin Headshot"
    />
  </div>
</header>

<section id="projects" class="project-banner">
  <div class="pb-title"><h2>My Projects</h2></div>
  <div class="project-list">
    {% if projects %} {% for project in projects %}
    <div class="project-card">
      {% if project.image %}
      <img
        src="{{ project.image.url }}"
        alt="{{ project.title }}"
        class="project-image"
      />
      {% endif %}
      <div class="project-info">
        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>
        <a href="{% url 'finance_tracker:home' %}">View Project</a>
      </div>
    </div>
    {% endfor %} {% else %}
    <p>No projects added yet.</p>
    {% endif %}
  </div>
</section>

<section id="contact-me" class="contact-banner">
  <h4>Contact Me!</h4>
  <form>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter your name"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter your email"
      />
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Message</label>
      <textarea class="form-control" id="message" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>
{% endblock %}
