{% extends 'portfolio/base.html' %} 
{% load static %} 

{% block title %}Home - My Portfolio{% endblock %} 

{% block content %}
<header>
    {% include 'portfolio/hero_banner.html' %}
</header>

<section id="projects-section">
    {% include 'portfolio/project_card.html' %}
</section>

<section id="about-me" class="about-banner">
    {% include 'portfolio/about.html' %} 
</section>

<section id="contact-me" class="contact-banner">
    {% include 'portfolio/contact_form.html' %}
</section>
{% endblock %}
