{% extends 'portfolio/base.html' %} 
{% load static %} 

{% block title %}Home - My Portfolio{% endblock %} 

{% block content %}
<header id="home" class="hero-banner">
  <div class="hb-left">
    <div class="website-title">Hi! I'm Lucas, a Salesperson by day and a Software enthusiast by night.</div>
    <div class="title-subtext">
      Simple Solutions for Complex Problems.
      <button type="button" class="btn btn-primary mt-2" data-bs-theme="dark">My Resume</button>
    </div>
  </div>
  <div class="hb-right">
    <img
      src="{% static 'portfolio/images/lucas_portrait.png' %}"
      alt="Lucas Patriquin Headshot"
    />
  </div>
</header>

<section id="projects">
    <div class="container mb-5">
        <h1 class="display-4 text-center m-5">My Projects</h1>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">  {% if projects %}
            {% for project in projects %}
                {% block project_card %}
                    {% include 'portfolio/project_card.html' %}
                {% endblock project_card %}
            {% endfor %}

            {% else %}
            <p>No projects added yet.</p>
            {% endif %}
        </div>
    </div>
</section>

<section id="about-me" class="about-banner">
    {% include 'portfolio/about.html' %} 
</section>

<section id="contact-me" class="contact-banner">
  <h4>Contact Me!</h4>
  <form>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter your name"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter your email"
      />
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Message</label>
      <textarea class="form-control" id="message" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>
{% endblock %}
