:root {
    --font: "Inter", sans-serif;
    --body-color: #637381;
    --background-color: black;
    --heading-color: #212b36;
    /* --primary-color: #355E3B; */
    --primary-color-2: #79D7BE;
    --primary-color: rgb(75, 192, 192);
    --accent-color: #FF7F50;
    --gradient-color: linear-gradient(to right, #FF7F50, #FF6347, #FF4500);
    --white: #ffffff;
}

/* body {
    background-color: var(--background-color);
} */

/* -----===== Demo Video =====----- */



/* -----===== Sidebar =====----- */
#menu-close-btn {
    color: white;
}

#welcome-title {
    margin-top: 50px;
}

.offcanvas {
    font-size: 1rem;
}

.offcanvas .nav-link:hover {
    font-size: 1.2rem;
}

.menu-divider {
    width: 200%;
}

/* -----===== Dashboard =====----- */
.dashboard-greeting-msg {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.db_card {
    background-color: #f9fafb;
}

#expense-num {
    color: rgb(227, 5, 5);
}

#profit-num {
    color: green;
}

.bi-caret-up, .bi-caret-down {
    color: white;
}

.category-icon {
    width: 30px;
    height: 30px;
    font-size: 1.4rem;
}

#month-selector {
    width: 150px;
}

.income_chart {
    max-height: 250px;
} 

.btnViewMore {
    background-image: var(--gradient-color);
    border: none;
    border-radius: 30px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.btnViewMore:hover {
    background-image: linear-gradient(to right, #FF8C69, #FF6A4A, #FF5733);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}



/* -----===== crispy upload form =====----- */
#submit-id-submit {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

#submit-id-submit:hover {
    background-color: var(--heading-color)
}

.asteriskField {
    display: none;
}

.icons.bi-4x {
    font-size: 4rem;
    display: inline-flex;
    /* To allow horizontal arrangement and transformations */
}

.icons.bi-4x i.bi-filetype-csv {
    color: #000000;
    margin-right: 0.5em;
    /* Spacing between icons */
    display: inline-block;
}

/* Target the first icon for transformation */
.icons.bi-4x i.bi-filetype-csv:nth-child(1) {
    transform: scale(0.8) translateY(20%) rotate(-45deg);
}

/* Target the second icon for transformation */
.icons.bi-4x i.bi-filetype-csv:nth-child(2) {
    transform: scale(0.8) translateY(-25%);
    /* shrink-2 up-4  (scale and vertical move) */
}

/* Target the third icon for transformation */
.icons.bi-4x i.bi-filetype-csv:nth-child(3) {
    transform: scale(0.8) translateY(20%) rotate(45deg);
    /* shrink-3 down-2 right-6 rotate-45 */
}

#not_user_upload {
    width: 500px;
    height: 225px;
}

.wrapper {
    margin: auto;
    max-width: 500px;
    padding-top: 60px;
    text-align: center;
}

#upload-container-div {
    margin-top: 50px;
    margin-bottom: 200px;
}

#upload_container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

#upload_file_header {
    color: #130f40;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: -.5px;
    font-weight: 700;
    padding-bottom: 10px;
}

.upload-container {
    background-color: rgb(239, 239, 239);
    border-radius: 6px;
    padding: 10px;
}

#upload-notify-widget {
    height: 75vh;
}

.border-container {
    border: 5px dashed rgba(198, 198, 198, 0.65);
    /*   border-radius: 4px; */
    padding: 20px;
}

.border-container p {
    color: #130f40;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: -1px;
    margin-top: 30px;
    margin-bottom: 0;
    opacity: 0.65;
}

#file-browser {
    text-decoration: none;
    color: rgb(22, 42, 255);
    border-bottom: 3px dotted rgba(22, 22, 255, 0.85);
}

#file-browser:hover {
    color: rgb(0, 0, 255);
    border-bottom: 3px dotted rgba(0, 0, 255, 0.85);
}

.icons {
    color: #95afc0;
    opacity: 0.55;
}

/* -----===== Transaction Table =====----- */
.transaction-search-field {
    background-image: var(--search-icon-url);
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 16px 16px;
    padding-left: 30px;
    border-radius: 30px;
}

.filter-badge {
    background-image: var(--gradient-color);
    border: none;
    border-radius: 30px;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}
    
.filter-badge:hover {
    background-image: linear-gradient(to right, #FF8C69, #FF6A4A, #FF5733);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#transaction-table {
    margin-bottom: 50px;
}

.transaction-description, .transaction-date, .transaction-action {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;     /* Hide overflowing content */
    text-overflow: ellipsis; /* Display an ellipsis (...) */
    max-width: 100%; 
}

.mobile-date {
    display: none; /* Hide the mobile date by default */
}

@media only screen and (max-width: 767px) {
    .containter {
        display: none !important;
    }

    .container-fluid-mobile {
        display: block !important;
    }

    #transaction-table {
        font-size: .70rem;
    }

    .stats-bar h4, .stats-bar p {
        font-size: .8rem;
    }

    .transaction-description {
        max-width: 100px;
    }

    .mobile-date {
        display: block;
    }
    
    .desktop-date {
        display: none;
    }

    .pagination-btns a, .pagination-btns span {
        font-size: .7rem;
    }
  }

@media (min-width: 600px) {
    .desktop-date {
        display: inline;
    }
    .mobile-date {
        display: none;
    }
}

.transactions-row {
    align-items: center;
}

#pagination-div {
    margin-bottom: 100px;
}

.hidden {
    display: none;
}

.badge.category-badge {
    font-size: .9em;
    background-color: var(--primary-color);
}

.filter-badge {
    cursor: pointer;
}

.badge.category-filter-badge {
    cursor: pointer;
    background-color: var(--primary-color);
}

.category-filter-badge:hover {
    font-size: .8rem;
}

.show-all-badge:hover {
    font-size: .8rem;
}


/* -----===== Category View =====----- */
#category-list-div {
    margin-bottom: 100px;
}

#cat-number-badge {
    font-size: .85em;
}