/* #ft-navbar {
    margin-top: 100px;
} */
#menu-button {
    margin-top: 70px;
    margin-right: 20px;
}

#menu-close-btn {
    color: white;
}

#welcome-title {
    margin-top: 50px;
}

/* Dashboard */
#expense-num {
    color: red;
}

#profit-num {
    color: green;
}


/* crispy upload form */
#upload-button {
    background-color: rgb(0, 92, 128);
}

#upload-buttom:hover {
    background-color: rgb(1, 59, 82);
}

.asteriskField {
    display: none;
}