{% extends 'portfolio/base.html' %} 
{% load static %}


{% block title %}Finance Tracker{% endblock %} 
{% block nav_bar %}
    {{ block.super }}
        <div class="m-3">
            <h1>Finance Tracker</h1>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'finance_tracker:home' %}" {% if request.path == '/' %}class="active"{% endif %}>Dashboard</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'finance_tracker:file_upload' %}">Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'finance_tracker:transaction-list' %}" {% if request.path == '/transactions/' %}class="active"{% endif %}>View Transactions</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'finance_tracker:transaction-table' %}" {% if request.path == '/transactions/' %}class="active"{% endif %}>Transaction Table</a> 
            </li>
            </ul>
{% endblock %}
    
{% block content %} 
{% endblock %} 

{% block script %}
{% endblock script %}
