{% extends 'finance_tracker/base.html' %} 

{% load static %} 

{% block content %}
{% if categories %}

<div class="mx-4">
    <div class="container-fluid my-4">
        <h2 class="justify-content-center">
            <i class="bi bi-tag-fill"></i> Categories</h2>
            {% firstof user.first_name user as name %}
        <h5>Transaction Categories for {{ name }}</h5>
    </div>
        
        
        
    {% comment %}------ Search Field ------{% endcomment %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4">
                <form method="get" class="mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Categories..." name="search_term" value="{{ request.GET.search_term }}" />
                        {% if request.GET.search_term %}
                        <button class="btn btn-outline-secondary" type="submit" name="clear_search" value="true">Clear Search</button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
        
    {% comment %}------ Category Card ------{% endcomment %}
    <div class="d-flex container-fluid">
        <div id="category-div" class="container">
            <div class="row">
                {% for category in categories %}
                    <div class="card text-start g-1">
                        <div class="card-body p-2">
                            <div class="row align-items-center mx-1">
                                <div class="col-8">
                                    <span class="fw-bold">{{ category.name }}</span>
                                </div>
                                {% if category.total_amount %}
                                <div class="col d-flex justify-content-end">
                                    {% if category.total_amount < 0 %}
                                        <span id="cat-number-badge" class="fw-bold text-danger">{{ category.total_amount|floatformat:2 }}</span>
                                    {% else %}
                                        <span id="cat-number-badge" class="fw-bold text-success">{{ category.total_amount|floatformat:2 }}</span>
                                    {% endif %}
                                </div>
                                {% else %}
                                <div class="col d-flex justify-content-end">
                                    <p>0.00</p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %} 
            </div>
        </div>    

  {% else %} 
    {% include 'finance_tracker/components/upload_notify.html' %} 
  {%endif %}
</div>

{% endblock %} 

{% block extra_js %}
<script src="https://unpkg.com/htmx.org@2.0.4"></script>
{% endblock %}
