{% extends 'finance_tracker/base.html' %} 

{% load static %} 

{% block content %}
{% if categories %}
<div id="category-list-div" class="container mt-4 mx-auto">
    <div class="mb-5 mt-2">
        <h2 class="justin-content-center">
        <i class="bi bi-tag-fill"></i> Categories</h2>
        <p>Transaction Categories for {{ user }}</p>
    </div>

   {% comment %}------ Search Field ------{% endcomment %}
   <div class="row">
       <div class="col-12 col-md-4">
           <form method="get" class="mb-3">
               <div class="input-group">
                   <input type="text" class="form-control" placeholder="Search Categories..." name="search_term" value="{{ request.GET.search_term }}" />
                   {% if request.GET.search_term %}
                   <button class="btn btn-outline-secondary" type="submit" name="clear_search" value="true">Clear Search</button>
                   {% endif %}
                </div>
            </form>
        </div>
    </div>
    
    {% comment %}------ Category Card ------{% endcomment %}
    <div class="container">
        <div class="row p-0 col-lg-4 col-sm-12">
            {% for category in categories %}
            <div class="card text-start g-1">
            <div class="card-body p-2">
                <div class="row align-items-center mx-1">
                    <div class="col-8">
                        <span class="fw-bold">{{ category.name }}</span>
                    </div>
                    {% if category.total_amount %}
                    <div class="col d-flex justify-content-end">
                        {% if category.total_amount < 0 %}
                            <span id="cat-number-badge" class="fw-bold text-danger">{{ category.total_amount|floatformat:2 }}</span>
                        {% else %}
                            <span id="cat-number-badge" class="fw-bold text-success">{{ category.total_amount|floatformat:2 }}</span>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="col d-flex justify-content-end">
                        <p>{{ category.total_amount }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            </div>
            {% endfor %} 
        </div>
    </div>
  
  {% comment %}------ Transaction List Table ------{% endcomment %}
  {% comment %}
  <table id="table" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      {% for category in page_obj %}
      <tr>
        <td>{{ category.name }}</td>
        <td>${{ category.amount }}</td>
        {% comment %}
        <td>
          <a
            href="{% url 'finance_tracker:transaction_update' transaction.id %}"
            ><i class="bi bi-pencil-square text-success"></i
          ></a>
          |
          <a
            href="{% url 'finance_tracker:transaction_delete' transaction.id %}"
            ><i class="bi bi-trash3-fill text-secondary"></i
          ></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endcomment %} 
  
  {% comment %}------ Pagination ------{% endcomment %}
  {% comment %} <div id="pagination-div" class="pagination justify-content-center">
    <span class="step-links">
      <nav aria-label="Transaction lists pages">
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link bg-secondary text-light" href="?page=1"
              >&laquo; first</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link text-secondary"
              href="?page={{ page_obj.previous_page_number }}"
              >Previous</a
            >
          </li>
          {% endif %}

          <li class="page-item active" aria-current="page">
            <span class="page-link bg-secondary border-secondary"
              >Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
              <span class="visually-hidden">(current)</span></span
            >
          </li>

          {% if page_obj.has_next %}
          <li class="page-item">
            <a
              class="page-link text-secondary"
              href="?page={{ page_obj.next_page_number }}"
              >Next</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link text-secondary"
              href="?page={{ page_obj.paginator.num_pages }}"
              >Last &raquo;</a
            >
          </li>
          {% endif %}
        </ul>
      </nav>
    </span>
  </div> {% endcomment %}
  {% else %} 
    {% include 'finance_tracker/components/upload_notify.html' %} 
  {%endif %}
</div>

{% endblock %} 

{% block extra_js %}
<script src="https://unpkg.com/htmx.org@2.0.4"></script>
{% endblock %}
