{% extends 'finance_tracker/base.html' %} 
{% load static %}

{% block content %}
    <div class="my-3 mx-3 min-vh-100">
        <div class="d-flex mt-5">
            <div class="col-3 card mx-3">
                <div class="card-body">
                    <h5 class="card-title text-primary">Total Expense</h5>
                    <h6 class="card-subtitles mb-2 text-muted">Yearly</h6>
                    <div>
                        <canvas id ="total-expense-chart"></canvas>
                    </div>
                    <h1 class="card-text text-end">50,487</h1>
                </div>
            </div>
            <div class="col-3 card mx-3">
                <div class="card-body">
                    <h5 class="card-title text-primary">Monthly Expense</h5>
                    <h6 class="card-subtitles mb-2 text-muted">Yearly</h6>
                    <div>
                        <canvas id ="monthly-expense-chart"></canvas>
                    </div>
                    <h1 class="card-text text-end">5,487</h1>
                </div>
            </div>
            <div class="col-3 card mx-3">
                <div class="card-body">
                    <h5 class="card-title text-primary">Total Income</h5>
                    <h6 class="card-subtitles mb-2 text-muted">Yearly</h6>
                    <div>
                        <canvas id ="total-income-chart"></canvas>
                    </div>
                    <h1 class="card-text text-end">110,000</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'finance_tracker/js/dashboard.js' %}"></script>
{% endblock extra_js %}