{% extends 'finance_tracker/base.html' %} 
{% load static %}

{% block content %}
<div class="my-3 mx-3 min-vh-100">
    {% comment %} <div class="w-100 mt-5 h-25"></div>  {% endcomment %}
    
    <!-- Cards -->
        <div class="d-flex mt-5 flex-wrap">
            <div class="col-md-3 col-sm-6 card mx-3">
                <div class="card-body">
                    <h5 class="card-title text-primary">Total Income</h5>
                    <h6 class="card-subtitles mb-2 text-muted">Yearly</h6>
                    <h1 class="card-text text-end">110,000</h1>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 card mx-3">
                <div class="card-body">
                    <h5 class="card-title text-primary">Total Expenses</h5>
                    <h6 class="card-subtitles mb-2 text-muted">Yearly</h6>
                    <h1 class="card-text text-end">90,000</h1>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 card mx-3">
                <div class="card-body">
                    <h5 class="card-title text-primary">Other Total</h5>
                    <h6 class="card-subtitles mb-2 text-muted">Yearly</h6>
                    <h1 class="card-text text-end">90,000</h1>
                </div>
            </div>
        </div>

        <!-- Charts -->
        <div class="d-flex mt-5 flex-wrap">
            <div class="col-5 card mx-3">
                <div class="card-body">
                    <h5 class="card-title text-primary">Income Total by Month</h5>
                    <h6 class="card-subtitles mb-2 text-muted">Yearly</h6>
                    <div>
                        <canvas id ="monthly-expenses-chart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-5 card mx-3">
                <div class="card-body">
                    <h5 class="card-title text-primary">Expense Total by Month</h5>
                    <h6 class="card-subtitles mb-2 text-muted">By Month</h6>
                    <div>
                        <canvas id ="total-expenses-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="mx-3 my-5">
            <h3 class="text-center">Expenses by Month</h3>
            <div class="bg-secondary bg-opacity-25 px-5 py-3 rounded">
                <canvas id="expense-by-month-chart"></canvas>
            </div>
        </div>

    </div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'finance_tracker/js/dashboard.js' %}"></script>
{% endblock extra_js %}