<div id="ft-navbar" class="container-fluid">

            <!-- Tabs -->
            <ul class="nav nav-tabs mx-2">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' or request.path == '/finance_tracker/' %}active{% endif %}" href="{% url 'finance_tracker:home' %}">Start Here</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' or request.path == '/finance_tracker/dashboard/' %}active{% endif %}" href="{% url 'finance_tracker:dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/finance_tracker/upload/' %}active{% endif %}" href="{% url 'finance_tracker:file_upload' %}">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/finance_tracker/transactions/' %}active{% endif %}" href="{% url 'finance_tracker:transaction-list' %}">View Transactions</a>
                </li>

                <!-- Fix this -->
                <li class="nav-item ms-auto">
                    <a class="nav-link {% if request.path == '/finance_tracker/' %}active{% endif %}" href="{% url 'finance_tracker:home' %}">Sign-in</a>
                </li>

            </ul>
            <!-- End Tabs -->

</div>