{% extends 'finance_tracker/base.html' %} 
{% load static %}

{% block content %}
<div class="m-3 min-vh-100">
    <h1>All Transactions</h1>
    <table id="myTable"></table>
</div>
{% endblock content %} 

{% spaceless %}
{% block extra_js %}
<script>
    const dataTable = new simpleDatatables.DataTable("#myTable", {
        searchable: true,
        fixedHeight: true,
        data: {
            headings: ["Date", "Category", "Description", "Amount"],
        }
    })
    
</script>
{{ transactions_json|safe }}
{% endblock extra_js %}
{% endspaceless %}