{% extends 'finance_tracker/base.html' %}
{% load static %}

{% block content %}
{% if page_obj %}
  <div class="container mx-auto">
    <div class="mb-3 mt-2">
      <h2 class="justin-content-center"><i class="bi bi-list-ul"></i> Transactions</h2>
    </div>

    {% comment %}------ Header ------{% endcomment %}
    <div class="row d-flex">
        {% comment %}------ Search Field ------{% endcomment %}
        <div class="col-lg-3 col-md-6 col-sm-12 align-self-end">
            <form method="get" class="mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search transactions..." name="search_term" value="{{ request.GET.search_term }}" />
                    {% if request.GET.search_term %}
                    <button class="btn btn-outline-secondary" type="submit" name="clear_search" value="true">Clear Search</button>
                    {% endif %}
                </div>
            </form>
        </div>
        {% comment %}------ Stats Bar ------{% endcomment %}
        <div class="hstack col-9 gap-3 justify-content-center align-self-center" style="height: auto;">
            <div class="flex-grow-1 py-2 px-4">
                <p class="fw-lighter">Date Range</p>
                <h4>{{ start_date|date:"M j, Y" }} - {{ end_date|date:"M j, Y"     }}</h4> <!--TODO-->
            </div> 
            <div class="vr"></div>
            <div class="flex-grow-1 py-2 px-4">
                <p class="fw-lighter">Transactions</p>
                <h4>{{ length }}</h4>
            </div> 
            <div class="vr"></div>
                {% if expense_summary.total_expense_amount > 0 %}
                    <div class="flex-grow-1 py-2 px-4">
                        <p class="fw-lighter">Total</p>
                        <h4>${{ expense_summary.total_expense_amount|floatformat:0 }} Earned</h4>
                    </div>
                    {% else %}
                    <div class="flex-grow-1 py-2 px-4">
                        <p class="fw-lighter">Total</p>
                        <h4>${{ expense_summary.total_expense_amount|floatformat:0 }} Spent</h4>
                    </div>
                {% endif %}
          </div>
    </div>

    {% comment %}------ Categories ------{% endcomment %}
    <span id="toggleFilters" class="filter-badge mt-2"><i id="category-filter-caret" class="bi bi-caret-right-fill"></i> Filter {{ categories|length }} Categories</span>
    <div id="filtersDiv" class="hidden p-1 mt-1 text-center">
        <a href="{% url 'finance_tracker:transaction-list' %}" class="me-1 mb-1">
        <span class="badge rounded-pill text-bg-dark show-all-badge">Show All</span>
        </a>
        {% for category in categories %}
        <a href="{% url 'finance_tracker:transaction-list' %}?category_id={{ category.id }}" class="me-1 mb-1">
        <span class="badge rounded-pill category-filter-badge">{{ category }}</span>
        </a>
        {% endfor %}
    </div> 

    {% comment %}------ Transaction List Table ------{% endcomment %}
    <div id="trans_table" class="table-responsive">
        <table class="table table-hover" style="width: 100%;">
        <thead>
            <tr>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Amount</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider table align-middle">
            {% for transaction in page_obj %}
            <tr>
                <td>{{ transaction.date|date:'M-d-Y' }}</td>
                <td>{{ transaction.description }}</td>
                <td><span id="category-pill" class="badge badge-pill category-badge text-light">{{ transaction.category }}</span></td>
                <td>${{ transaction.amount }}</td>
                <td>
                <a href="{% url 'finance_tracker:transaction_update' transaction.id %}"><i class="bi bi-pencil-square text-success"></i></a> |
                <a href="{% url 'finance_tracker:transaction_delete' transaction.id %}"><i class="bi bi-trash3-fill text-secondary"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div> 

      <!--TODO--> {% comment %}------ Pagination ------{% endcomment %}
      <div id="pagination-div" class="pagination justify-content-center">
        <span class="step-links">
          <nav aria-label="Transaction lists pages">
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link bg-secondary text-light" href="?page=1">&laquo; first</a>
                </li>
                <li class="page-item">
                  <a class="page-link text-secondary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
              {% endif %}

              <li class="page-item active" aria-current="page">
                <span class="page-link bg-secondary border-secondary">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} <span class="visually-hidden">(current)</span></span>
              </li>

              {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link text-secondary" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                  <a class="page-link text-secondary" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </span>
      </div>
    {% else %}
      {% include 'finance_tracker/components/upload_notify.html' %}
    {% endif %}
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'finance_tracker/js/transaction_list.js' %}"></script>
{% endblock %}
