{% extends 'finance_tracker/base.html' %} 
{% load static %}

{% block content %}
<h1 class="my-3 mx-4">All Transactions</h1>
<div class="container min-vh-100 mt-5">
  <table id="myTable"></table>
</div>
{% endblock content %} 

{% spaceless %}
{% block extra_js %}
<script>
    const dataTable = new simpleDatatables.DataTable("#myTable", {
        searchable: true,
        fixedHeight: true,
        data: {
            headings: ["Date", "Description", "Amount"],
        }
    })
    
</script>
{{ transactions_json|safe }}
{% endblock extra_js %}
{% endspaceless %}