{% extends 'finance_tracker/base.html' %} 
{% load static %}

{% block content %}
<div class="container-fluid mx-2">
    <div class="mx-3 my-3">
        <h2>Finance Tracker</h2>
        <h5>Searchable Transactions List</h5>
    </div>

    <div class="row">  {# Bootstrap Row #}
        <div class="col-12 col-md-3">  {# Bootstrap Column - adjust col-md-3 to control width on medium screens and up #}
            <form method="get" class="mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search transactions..." name="search_term" value="{{ request.GET.search_term }}">
                    {% if request.GET.search_term %}
                        <button class="btn btn-outline-secondary" type="submit" name="clear_search" value="true">Clear Search</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Date</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col"></th>
            </tr>
        </thead>
        
        <tbody>
            {% if page_obj %} 
                {% for transaction in page_obj %}
                    <tr>
                        <td>{{ transaction.date|date:"Y-m-d" }}</td>
                        <td>{{ transaction.category|upper }}</td>
                        <td>{{ transaction.description }}</td>
                        <td>${{transaction.amount }}</td>
                        <td>Modify/Delete</td>
                    </tr>
                {% endfor %} 
            {% else %}
                <tr> <td colspan="4">No Transactions yet.</td> </tr>
            {% endif %}
        </tbody>
    </table>

    <div class="pagination justify-content-center"> 
        <nav id="pagination" class="pagination-dark">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo; first</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}

                <li class="page-item active" aria-current="page"> <span class="page-link">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} <span class="visually-hidden">(current)</span>
                    </span>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock content %}
