{% extends 'finance_tracker/base.html' %} 
{% load crispy_forms_tags %}
{% crispy upload_form upload_form.helper %}

{% load static %} 

{% block content %}
<div class="mx-4 my-3">
    <h2>Finance Tracker</h2>
    <h5>Upload Your Monthly Bank Statements</h5>
</div>

{% comment %} ------------ Upload File Card ------------ {% endcomment %}
{% if user.is_authenticated %}
<div class="container d-flex justify-content-center align-items-center text-center mb-4 wrapper">
    <div id="upload_container" class="container shadow">
        <h1 id="upload_file_header">Upload a file</h1>
        <div class="upload-container">
            <div class="border-container">
                <div class="icons bi-4x d-flex justify-content-center mb-2 fa-4x"> 
                    <i class="bi bi-filetype-csv"></i>
                    <i class="bi bi-filetype-csv"></i>
                    <i class="bi bi-filetype-csv"></i>
                </div>
            </div>
        </div>
        <div> 
            {% csrf_token %}
            {% crispy upload_form %}
            <div id="fileTypeError" class="text-danger d-none"></div>
        </div>
    </div>
</div>

{% else %}
    {% include 'users/components/login_container.html' %}
{% endif %}

{% endblock%}

{% block extra_js %}
<script src="{% static 'finance_tracker/js/upload.js' %}"></script>
{% endblock extra_js %}