{% extends 'finance_tracker/base.html' %} 
{% load crispy_forms_tags %}
{% crispy upload_form upload_form.helper %}

{% load static %} 

{% block content %}
<div class="mx-3 my-3">
    <h2>Finance Tracker</h2>
    <h5>Upload Your Monthly Bank Statements</h5>
</div>

{% comment %} ------------ Upload File Card ------------ {% endcomment %}
<div class="container d-flex justify-content-center align-items-center text-center mb-4">
    <div class="bg-light rounded-3 shadow-sm p-5 mt-5" style="width: 600px;"> 
        <h1 style="margin-bottom: 50px;">Upload Your file</h1>
        <div>
            <div class="icons bi-4x d-flex justify-content-center mb-2">
                <i class="bi bi-filetype-csv"></i>
                <i class="bi bi-filetype-csv"></i>
                <i class="bi bi-filetype-csv"></i>
            </div>
            <div>
                {% csrf_token %}
                {% crispy upload_form %}
                <div id="fileTypeError" class="text-danger d-none"></div> 
            </div>
        </div>
    </div>
</div>
{% comment %} ------------ Upload File Card ------------ {% endcomment %}

{% endblock%}

{% block extra_js %}
<script src="{% static 'finance_tracker/js/upload.js' %}"></script>
{% endblock extra_js %}