{% extends "portfolio/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'users/css/users.css' %}">
{% endblock extra_css%}

{% block title %}User Profile{% endblock %}

{% block nav_bar %}
    {{ block.super }}
    <div id="menu_div" class="container-fluid">
        <button id="menu-button" class="btn float-start" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
            <i class="bi bi-arrow-right-square-fill fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"> Menu</i>
        </button>
    </div>

    {% include 'finance_tracker/sidebar.html' %}

{% endblock %}

{% block content %}
<div id="user_div" class="container-fluid ms-2">
  <h2>Your Profile</h2>

  <p><strong>Username:</strong> {{ user.username }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>First Name:</strong> {{ user.first_name }}</p>
  <p><strong>Last Name:</strong> {{ user.last_name }}</p>


  <p><a href="{% url 'account_change_password' %}">Change Password</a></p>
  <p><a href="{% url 'account_logout' %}">Logout</a></p>
<div>
{% endblock %}