{% extends 'finance_tracker/base.html' %} 
{% load crispy_forms_tags %} 
{% crispy profile_update_form %}
{% load static %} 

{% block title %}Update User Profile{%endblock %} 

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-6">
            <div class="card shadow p-4">
                <div class="card-header bg-success text-white text-center">
                    <i class="bi bi-box-arrow-in-right me-2"></i> Update Profile
                </div>
                <div class="card-body">
                    {% comment %} <form method="post"> {% endcomment %}
                        {% csrf_token %}
                        {% comment %} <div> {% endcomment %}
                        {% crispy form %}
                            {% comment %} <div class="text-center mt-3">
                                <button type="submit" class="btn btn-dark btn-block">Save Changes</button>
                            </div> {% endcomment %}
                        {% comment %} </div> {% endcomment %}
                    {% comment %} </form> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
