<section id="contact" class="ud-contact">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-8 col-lg-7">
        <div class="ud-contact-content-wrapper">
          <div class="ud-contact-title">
            <span>CONTACT ME</span>
            <h1 class="fw-bold">
              LIKE MY WORK? <br />
              I'd love to hear from you!
            </h1>
            <a href="{% url 'portfolio:home' %}#contact-me" class="enter-site-btn btn rounded-pill btn-lg me-2">Message Me</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
