{% load static %}
<section id="demo" class="ud-demo">
  <div class="container">
    <span>Video Walk-through</span>
    <h2>demo</h2>
    <p>
      A complete Walk-through of my EVERGREEN Personal Finance App. Please join
      me in reviewing the tech stack used, main features, and the overall goal
      of my project.
    </p>
  </div>
  <div class="container">
    <div class="ud-demo-wrapper wow fadeInUp" data-wow-delay=".2s">
      <div class="ud-demo-content">
        {% comment %} ----- Welcome Video ----- {% endcomment %}
        <div id="video-container">
          <div
            style="
              position: relative;
              padding-bottom: 56.25%;
              height: 0;
              overflow: hidden;
            "
          >
            <div style="position: relative; padding-bottom: 56.25%; height: 0">
              <iframe
                src="https://www.loom.com/embed/84b1b4fcd38247fc94b53c2c7e241402?sid=ac7cd639-e6be-43ca-8a99-2c1759cd72fa"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
                style="
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                "
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
