{% load static %}

<footer class="ud-footer wow fadeInUp" data-wow-delay=".15s">
  <div class="ud-footer-widgets">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-7">
          <div class="ud-widget ms-4">
            <a href="index.html" class="ud-footer-logo"
              ><img
                src="{% static 'finance_tracker/images/logo/logo.png' %}"
                alt="logo"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ud-footer-bottom mt-auto">
    <div class="container-fluid">
      <div class="row">
        <ul class="ud-footer-bottom-left">
          {% comment %} <li>
            <a href="javascript:void(0)"
              ><i class="lni lni-facebook-filled"></i
            ></a>
          </li>
          <li>
            <a href="javascript:void(0)"
              ><i class="lni lni-twitter-filled"></i
            ></a>
          </li> {% endcomment %}
          <li>
            <a href="https://github.com/PyLou317" target="_blank"
              ><i class="bi bi-github"></i></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/lucas-patriquin/" target="_blank"
              ><i class="lni lni-linkedin-original"></i
            ></a>
          </li>
          <p class="ud-footer-bottom-right ms-auto">
            © 2025 Copyright:
            <a class="text-white" href="https://lucaspatriquin.com/"
              >LucasPatriquin.dev</a
            >
          </p>
        </ul>
      </div>
    </div>
  </div>
</footer>
