{% load static %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index.html">
            <img src="{% static 'finance_tracker/images/logo/logo.png' %}" 
                alt="Logo" 
                data-logo-default="{% static 'finance_tracker/images/logo/logo.png' %}"
                data-logo-scroll="{% static 'finance_tracker/images/logo/logo-2.png' %}">
            </a>
            <button class="navbar-toggler">
            <span class="toggler-icon"> </span>
            <span class="toggler-icon"> </span>
            <span class="toggler-icon"> </span>
            </button>

            <div class="navbar-collapse">
            <ul id="nav" class="navbar-nav mx-auto">
                <li class="nav-item">
                <a class="ud-menu-scroll" href="#home">Home</a>
                </li>
                {% comment %} <li class="nav-item">
                    <a class="ud-menu-scroll" href="#demo">Demo</a>
                </li> {% endcomment %}
                <li class="nav-item">
                    <a class="ud-menu-scroll" href="#pricing">Pricing</a>
                </li>
                <li class="nav-item">
                <a class="ud-menu-scroll" href="#faq">FAQ</a>
                </li>
                <li class="nav-item">
                <a class="ud-menu-scroll" href="#contact">Contact</a>
                </li>
            </ul>
            </div>

            <div class="navbar-btn d-none d-sm-inline-block ms-5 me-3">
                    <a href="{% url 'portfolio:home' %}" class="ud-main-btn ud-login-btn">
                        Portfolio
                    </a>
                </a>
            </div>
        </nav>
        </div>
    </div>
</div>