{% load static %}

<section class="ud-hero" id="home">
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
        <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
            <h1 class="ud-hero-title">
            A Personal Expense Tracker, with AI Categorizing, and Budgeting
            </h1>
            <p class="ud-hero-desc">
            Budget, Categorize, and Monitor Your Personal Finances all in One Place.
            </p>
            <ul class="ud-hero-buttons">
            <li>
                <a href="{% url 'finance_tracker:dashboard' %}" class="ud-main-btn ud-white-btn">
                Enter
                </a>
            </li>
            <li>
                <a href="#demo" rel="nofollow noopener" class="ud-main-btn ud-link-btn">
                Watch Demo <i class="lni lni-arrow-right"></i>
                </a>
            </li>
            </ul>
        </div>
        {% comment %} <div
            class="ud-hero-brands-wrapper wow fadeInUp"
            data-wow-delay=".3s"
        >
            <img src="{% static 'finance_tracker/images/hero/brand.svg' %}" alt="brand" />
        </div> {% endcomment %}
        <div class="ud-hero-image wow fadeInUp" data-wow-delay=".25s">
            <img src="{% static 'finance_tracker/images/hero/hero-image.png' %}" alt="hero-image" />
            <img
            src="{% static 'finance_tracker/images/hero/dotted-shape.svg' %}"
            alt="shape"
            class="shape shape-1"
            />
            <img
            src="{% static 'finance_tracker/images/hero/dotted-shape.svg' %}"
            alt="shape"
            class="shape shape-2"
            />
        </div>
        </div>
    </div>
    </div>
</section>