{% load static %}

<section class="ud-hero" id="home">
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
        <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
            <h1 class="ud-hero-title">
            A Personal Finance Tracker with Budgeting and AI Categorizing
            </h1>
            <p class="ud-hero-desc">
            Monitor your personal finances and create monthly budgets, so you can build the future you deserve.
            </p>
            <ul class="ud-hero-buttons">
            <li>
                <a href="{% url 'finance_tracker:dashboard' %}" class="enter-site-btn btn rounded-pill btn-lg me-2">Get Started</a>
            </li>
            <li>
                <a href="#demo" class="view-demo-btn btn btn-outline-secondary rounded-pill">View Demo <i class="lni lni-arrow-right"></i></a>
                </a>
            </li>
            </ul>
        </div>
        {% comment %} <div
            class="ud-hero-brands-wrapper wow fadeInUp"
            data-wow-delay=".3s"
        >
            <img src="{% static 'finance_tracker/images/hero/brand.svg' %}" alt="brand" />
        </div> {% endcomment %}
        {% comment %} <div class="ud-hero-image wow fadeInUp" data-wow-delay=".25s">
            <img src="{% static 'finance_tracker/images/hero/hero-image.png' %}" alt="hero-image" />
            <img src="{% static 'finance_tracker/images/hero/dotted-shape.svg' %}" alt="shape" class="shape shape-1" />
            <img src="{% static 'finance_tracker/images/hero/dotted-shape.svg' %}" alt="shape" class="shape shape-2" />
        </div> {% endcomment %}
        <div class="ud-hero-image wow fadeInUp" data-wow-delay=".25s">
            <img src="{% static 'finance_tracker/images/hero/dotted-shape.svg' %}" alt="shape" class="shape shape-1" />
            <div id="carouselExampleAutoplaying" class="carousel slide carousel-dark" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="4000">
                    <img src="{% static 'finance_tracker/images/hero/hero-1.png' %}" class="d-block w-100" alt="hero-image-1">
                  </div>
                  <div class="carousel-item" data-bs-interval="4000">
                    <img src="{% static 'finance_tracker/images/hero/hero-2.png' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="4000">
                    <img src="{% static 'finance_tracker/images/hero/hero-3.png' %}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <img src="{% static 'finance_tracker/images/hero/dotted-shape.svg' %}" alt="shape" class="shape shape-2" />
            </div>
        </div>
    </div>
    </div>
</section>